<style>
table {
  border-collapse: collapse;
}
tr {
  border: solid;
  border-width: 1px 0;
  border-color: #D3D3D3;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

.img-circle {
    border-radius: 50%;
}
</style>

<div class="container-fluid">

  <row>
    <div class="col-md-8 col-md-offset-2" style="margin-top: 20px;">

      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="email in vm.groups">
            <td>
              <div id="container" style="white-space:nowrap">
              <p/>
                  <div id="image" style="display:inline;">
                      <img width="50" height="50"  class="img-circle" style="vertical-align:middle" src="{{email.image}}" />
                  </div>

                  <div id="texts" style="display:inline-block; white-space:nowrap;">
                      {{email.displayName}}
                  </div>
              </div>​
              <b>Description:</b> {{email.description}}
              <br/>
               <a href="">Open Group</a> | 
               <a href="">Join Group</a>
              <p/>
            </td>
          </tr>

          <tr ng-if="vm.groups.length == 0">
            <td colspan="4" align="center">No groups were found.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </row>
</div>
